@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/table/lib/css/table.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~bloom-nav-column/src/styles/default.less";

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.titlebar {
    -webkit-app-region: drag;
    height: 36px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
}

#root {
    display: flex;
    flex-direction: column;
}

#app-version {
    text-align: center;
    flex: 0 0 auto;
    color: #73a1d2;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#updater-bar {
    flex: 0 0 auto;
    background-color: #394b59;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    &.bp3-dark {
        background-color: #394b59;
    }

    .bloom {
        &.nav-vertical {
            width: 3em;

            &:not(.collapsed) {
                width: 11em;
            }

            .icon {
                width: 3em;
            }
        }

        .bloom-nav-vertical-theme(
            #332E2C,
            white,
            #f1f1f1, 
            #68829E,
            rgb(70, 142, 201),
            black,
            rgb(83, 83, 83)
        );
    }

    #content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        position: relative;
    
        & > * {
            flex: 1 1 auto;
        }

        .changelog {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            padding: 0 10px 10px 10px;

            > * {
                margin-bottom: 10px;
            }

            .header {
                position: relative;
                background: url("../images/hourglass.png") top left no-repeat white;
                height: 137px;
                display: block;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

                .version {
                    position: absolute;
                    right: 2em;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 2em;
                    font-weight: bolder;
                    color: black;
                }
            }

            .date {
                font-size: .8em;
                font-weight: bolder;
                margin-bottom: 10px;
            }

            .items {
                flex: 1 1 auto;
                overflow-y: auto;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;

                li {
                    padding: 0 0 .5em 0;
                    margin: .5em 0;
                    color: rgb(206, 206, 206);
                    border-bottom: 1px solid rgb(92, 92, 92);

                    &.added:before,
                    &.changed:before,
                    &.removed:before {
                        font-size: .7em;
                        font-weight: bolder;
                        margin-right: 1em;
                        padding: 2px 5px 1px;
                        color: #394b59;
                    }

                    &.added:before {
                        content: "ADDED";
                        background-color: rgb(129, 255, 129);
                        margin-right: 2.4em;
                    }
                    &.changed:before {
                        content: "CHANGED";
                        background-color: rgb(149, 216, 255);
                    }
                    &.removed:before {
                        content: "REMOVED";
                        background-color: rgb(255, 134, 134);
                    }

                }

            }

            .actions {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-bottom: 2em;
            }
    }

        .page {
            flex: 1 1 auto;
            padding: 0;
            margin: 0;
            background-color: #f1f1f1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .page-title {
                font-size: 1.4em;
                font-weight: bolder;
                padding: 0.3em;
                background: white;
                text-align: center;
                color: #f98766;
                margin: 0;
                z-index: 2;
                box-shadow: 0 2px 6px #d8d8d8;
            }

            .page-content {
                padding: 0;
                z-index: 1;
                overflow-y: auto;
                flex: 1 1 auto;

                &.padded {
                    padding: 15px;
                }
            }

            .page-actions {
                text-align: center;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-bottom: 5px;
            }
            
            > h1 {
                margin-top: 0;
            }

            &.timeline {
                padding: 0;
                display: flex;
                flex-direction: column;

                .zoom {
                    .bp3-button {
                        padding: 5px;
                    }
            
                    .value {
                        font-weight: bolder;
                        font-size: .8em;
                    }
                    .measure {
                        margin-left: .8em;
                        font-size: .7em;
                    }
                }

                .timeline-list {
                    flex: 1 1 auto;
                    overflow-y: auto;
                    z-index: 1;
                }

                .time-block {
                    box-shadow: 0 5px 7px -5px black;
                    background-color: white;
                    border-radius: 4px;

                    &.draggable:hover {
                        border-color: rgb(32, 107, 156);
                        border-width: 2px;
                    }

                    &:not(.draggable) {
                        background-color: #ace2ef;
                        cursor: default;
                    }

                    .top-bar {
                        display: flex;
                        flex-direction: row;
                        margin-top: 4px;

                        .start {
                            flex: 0 0 auto;
                            padding-left: .5em;
                        }

                        .title {
                            flex: 1 1 auto;
                            font-weight: bolder;
                            padding: 0 .5em;
                        }

                        .end {
                            flex: 0 0 auto;
                            padding-right: .5em;
                        }
                    }
                    .content > .content {
                        padding: 5px;
                    }
                }
            }
        }
    }  
}

.flex-fill {
    display: flex;
    flex-direction: row;

    > * {
        flex: 1 1 auto;
    }
}

.task-list {
    overflow: auto;
    padding: 0 1em;

    .task-list-item {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        margin: 1em 0;

        &.is_running {
            background-color: rgb(206, 240, 206);

            .task-content .elapsed-time {
                font-weight: bolder;
            }
        }

        .related {
            display: flex;
            flex-direction: row;
            .bp3-button-text {
                font-size: .8em;
                font-weight: lighter;
            }
            .bp3-icon svg {
                width: 12px;
                height: 12px;
            }

            .project-name {
                flex: 1 1 auto;
                overflow: hidden;
            }

            .parent {
                flex: 1 1 auto;
                overflow: hidden;
            }
        }

        .task-content {
            display: flex;
            flex-direction: row;

            .task-info {
                flex: 1 1 auto;
                overflow: overlay;

                .subject {
                    font-size: 1.2em;
                    font-weight: bolder;
                }

                .description {
                    word-break: normal;
                    text-overflow: ellipsis;
                    max-height: 0;
                    overflow: hidden;
                    font-size: .8em;
                    padding-right: 1em;
                    transition: max-height .5s ease-out;
                }

                .elapsed-time {
                    color: #7d7d7d;
                    .measure {
                        color: black;
                    }
                }

            }

            .actions {
                flex: 0 0 auto;
                width: 4em;
                text-align: center;

                .bp3-icon svg {
                    width: 32px;
                    height: 32px;
                }
    
            }
        }

        .tags {
            .bp3-tag {
                margin-right: 5px;
                font-size: .75em;
                padding: 2px 5px;
                color: #7d7d7d;
            }
        }

        &:hover {
            .task-content {
                .task-info {
                    .description {
                        max-height: 10em;
                        transition: max-height .5s ease-in;
                    }
                }
            }
        }

    }

}

.dead-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-fill {
    flex: 1 1 auto;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.timesheet {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .timesheet-zoom {
        border: 1px solid #394b59;
        border-top: none;
        padding: 10px 20px 2px;

    }
}

.daypicker {
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    padding: 0;
    background: rgb(59, 59, 59);
    color: white;

    .date-selector {
        text-align: center;
        
        input {
            text-align: center;
        }
    }

    .bp3-button {
        padding: 4px;
        color: white;

        .bp3-icon {
            color: white;
        }

        &:hover {
            color: white;
        }
    }

    .day-column {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        .day-nav {
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;
            border-top: 1px gray solid;
       
            .days {
                display: flex;
                flex-direction: row;
                flex: 1 1 auto;

                .day {
                    flex: 1 1 auto;

                    .day-btn {
                        padding: .5em 4px;
                        text-align: center;
                        cursor: pointer;

                        &.active {
                            background: white;
                            color: black;
                        }
                    }
            
                        
                }
            
            }

        }

    }

}

.bp3-popover-wrapper.popover-wrapper-fill {
    display: block;
    & > .bp3-popover-target {
        display: block;
    }
}

.vertical-center {
    display: flex;
    flex-direction: row;
    > * {
        align-self: center;
    }
}

.key-group {
    margin: 0 2px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;

    .plus {
        margin: 0 5px;
    }
}

.key {
    padding: 2px 5px 0;
    margin: 0;
    height: 18px;
    margin-bottom: 6px;
    font-size: .75em;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    color: rgb(126, 126, 126);
    box-shadow:
        0px 1px 0px rgb(250, 250, 250),
        0px 2px 0px rgb(250, 250, 250),
        0px 3px 0px rgb(250, 250, 250),
        0px 4px 0px 1px rgb(168, 168, 168),
        0px 4px 0px 2px rgb(105, 105, 105);
    background: rgb(249,249,249);
    background: linear-gradient(to bottom,  rgb(249,249,249) 0%,rgb(239,239,239) 95%,rgb(226,226,226) 100%);
    border-radius: 3px;
    box-sizing: border-box;

    .icon {
        flex: 0 0 auto;
        margin-right: 7px;
        align-self: center;
    }

    .label {
        flex: 0 0 auto;
        align-self: center;
    }
}

.ctrl-flex {
    display: flex;

    &.ctrl-flex-row {
        flex-direction: row;
    }
    &.ctrl-flex-col {
        flex-direction: row;
    }

    .ctrl-flex-auto {
        flex: 1 1 auto;
    }

    .ctrl-flex-static {
        flex: 0 0 auto;
    }
}

.ctrl-flex-center-items {
    align-items: center;
}

.ctrl-field {
    margin-top: 1em;
}

.ctrl-std {
    margin-left: 10px;
    margin-right: 10px;
}

.ctrl-popover {
    .bp3-menu {
        max-height: 300px;
        overflow: auto;
    }
}

.bp3-spinner {
    overflow: hidden;
}

.smallspinner {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 7px;
    transform: translateY(-50%);
    z-index: 1;
}